<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>

<body>
    <form id="frmDetail" method="post" action="@Url.Action("Createrecord")">
        <pre>
<br />
        Enter Employee id  :<input name="txtid" />
        <br /><br />
        Enter Employee name:<input name="txtName" />
        <br /><br />
        Enter Sex          :<input name="txtAge" />
        <br />
        </pre>
        <input type="submit" value="Submit" name="action" />
        <input type="submit" value="Cancel" name="action" />
    </form>
</body>

</html> 