@using LeaveManagment.Models
@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <h1>Leave Management</h1><br />
    <div>
        <form method="post" name="form1">

            <p>

                <pre>
<br />
            Enter Employee Name : <select name="name" id="inputa">
    <option value="Select ">Select Employee Name</option>
    @foreach (DataRow dr in Model.Rows)
    {
        <option value="@dr["Employee"].ToString()">@dr["Employee"].ToString()</option>
    }
</select>
                <br />
            Enter Year          : <input name="year" id="inputb" />
                <br />
</pre>
            </p>

            @*<input type="submit" value="Submit"    name="action" />*@


            @*@Html.EditorFor(model => c.id)*@
            @*@Html.TextBox("id")*@
            @*@Html.ActionLink("Submit ", "output", new { a = 2, c = 2022 })*@
            @*<input type="button" class="btn btn-success" value="submit" onclick="location.href = '@Url.Action("output")?a=' + document.getElementById('inputa').value + '&c=' + document.getElementById('inputb').value" />*@
            <input type="button" class="btn btn-success" value="submit" onclick="test.location.href = '@Url.Action("output")?a=' + document.getElementById('inputa').value + '&c=' + document.getElementById('inputb').value" />
            <iframe frameborder="0" name="test" id="test" width=1200 height=800></iframe>


            <br />

        </form>

    </div>

</body>
</html>
