<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>

<body>
    <form id="frmDetail" method="post" action="@Url.Action("Createrecord")">
        <pre>
<br />
        Enter Employee id      :<input name="txtid" />
        <br /><br />
        Enter Levae id         :<input name="txtid2" />
        <br /><br />
        Enter Month            :<input name="txtMonth" />
        <br />
        Enter Year             :<input name="txtYear" />
        <br /><br />
        Enter No of DaysWorked :<input name="txtLeaves" />
        <br />
        </pre>
        <input type="submit" value="Submit" name="action" />
        <input type="submit" value="Cancel" name="action" />
    </form>
</body>

</html>
