<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>

<body>
    <form id="frmDetail" method="post" action="@Url.Action("Createrecord")">
        <pre>
<br />
        Enter Employee id      : <input name="txtid" required/>
        <br />
        Enter Levae id         : <input name="txtid2" required/>
        <br />
        Enter Month            :@*<input name="txtMonth" />*@ <select placeholder="MM" name="txtMonth" required>
            <option name="" value="" style="display:none;">Select Month</option>
            <option name="January" value="January">January</option>
            <option name="February" value="February">February</option>
            <option name="March" value="March">March</option>
            <option name="April" value="April">April</option>
            <option name="May" value="May">May</option>
            <option name="June" value="June">June</option>
            <option name="July" value="July">July</option>
            <option name="August" value="August">August</option>
            <option name="September" value="September">September</option>
            <option name="October" value="October">October</option>
            <option name="November" value="November">November</option>
            <option name="December" value="December">December</option>
        </select>
        <br />
        Enter Year             : <input name="txtYear" required/>
        <br />
        Enter No of DaysWorked : <input name="txtLeaves" required/>
        <br />
        </pre>
        <input type="submit" value="Submit" name="action" />
        <input type="submit" value="Cancel" name="action" />
    </form>
</body>

</html>
